
@model ForumWebsite.Models.user_Tb
@{
    ViewBag.Title = "會員中心";
}

<div class="indica page update_user">
    <div class="container">
        <div class="col-md-9 posta">
            <h3>
                <strong>會員資料更新</strong>
                <label1></label1>
            </h3>
            <div class="pageContent">
                <div><strong>@(Session["name"])</strong> 您好!</div>
                <div>@(Html.ActionLink("修改會員資料", "UpdateUserInfo", "User", new { user = Session["account"]}, new { @class = "btn btn-info" }))</div>
                <div></div>
            </div>
        </div>
        @{ Html.RenderAction("_RightArticleReply", "Home"); }
        <div class="clearfix"> </div>
    </div>
</div>
