
@{
    ViewBag.Title = "Index";
}
<!-- indica -->
<div class="indica">
    <div class="container">
        <div class="col-md-3 dicado">
            <h3>
                超級 <strong>熱門文章</strong>
                <label2></label2>
            </h3>
            <div class="ultimas">
                <label4></label4>
                </h3>
                <div class="ultimas-top">
                    <span class="ultimas-num">01</span>
                    <span class="sort_t blue">遊戲資訊</span>
                    <h5>Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</h5>
                    <span class="itac">最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前</span><br />
                    <div class="clearfix"> </div>
                </div>
                <div class="ultimas-top">
                    <span class="ultimas-num">02</span>
                    <span class="sort_t green">遊戲資訊</span>
                    <h5>Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</h5>
                    <span class="itac">最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前</span><br />
                    <div class="clearfix"> </div>
                </div>
                <div class="ultimas-top">
                    <span class="ultimas-num">03</span>
                    <span class="sort_t blue">遊戲資訊</span>
                    <h5>Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</h5>
                    <span class="itac">最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前</span><br />
                    <div class="clearfix"> </div>
                </div>
                <div class="ultimas-top">
                    <span class="ultimas-num">04</span>
                    <span class="sort_t org">遊戲資訊</span>
                    <h5>Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</h5>
                    <span class="itac">最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前</span><br />
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 posta">
            <h3>
                最新 <strong>發表文章</strong>
                <label1></label1>
            </h3>
            <div class="posta-top">
                <div class="posta-1">
                    <div class="posta-left">
                        <a href="single.html"><img src="images/7.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="posta-right">
                        <h4><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h4>
                        <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>

                        <span class="sort_t org">遊戲資訊</span>
                        <span class="itac">Paulo Ricardo<i class="dot_"></i><i class="far fa-clock"></i> 3 天前</span>
                    </div>
                    <div class="clearfix"> </div>
                    <a class="anabtn" href="single.html">Análise</a>
                </div>
                <div class="posta-1">
                    <div class="posta-left">
                        <a href="single.html"><img src="images/7.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="posta-right">
                        <h4><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h4>
                        <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>

                        <span class="sort_t green">遊戲資訊</span>
                        <span class="itac">Paulo Ricardo<i class="dot_"></i><i class="far fa-clock"></i> 3 天前</span>
                    </div>
                    <div class="clearfix"> </div>
                    <a class="anabtn" href="single.html">Análise</a>
                </div>
                <div class="posta-1">
                    <div class="posta-left">
                        <a href="single.html"><img src="images/7.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="posta-right">
                        <h4><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h4>
                        <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>

                        <span class="sort_t blue">遊戲資訊</span>
                        <span class="itac">Paulo Ricardo<i class="dot_"></i><i class="far fa-clock"></i> 3 天前</span>
                    </div>
                    <div class="clearfix"> </div>
                    <a class="anabtn" href="single.html">Análise</a>
                </div>
                <div class="posta-1">
                    <div class="posta-left">
                        <a href="single.html"><img src="images/7.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="posta-right">
                        <h4><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h4>
                        <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>

                        <span class="sort_t red">遊戲資訊</span>
                        <span class="itac">Paulo Ricardo<i class="dot_"></i><i class="far fa-clock"></i> 3 天前</span>
                    </div>
                    <div class="clearfix"> </div>
                    <a class="anabtn" href="single.html">Análise</a>
                </div>
            </div>
        </div>
        <div class="col-md-3  redes">
            <h3>
                最新 <strong>文章回覆</strong>
                <label3></label3>
            </h3>
            <div class="dicado-top">
                <h5>30 app para download</h5>
            </div>
            <div class="dicado-bottom">
                <div class="dicado-1">
                    <h6><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h6>
                    <span class="itac">
                        最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前<i class="dot_"></i><i class="far fa-comment"></i> 32
                    </span>
                </div>
                <div class="dicado-1">
                    <h6><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h6>
                    <span class="itac">
                        最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前<i class="dot_"></i><i class="far fa-comment"></i> 32
                    </span>
                </div>
                <div class="dicado-1">
                    <h6><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h6>
                    <span class="itac">
                        最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前<i class="dot_"></i><i class="far fa-comment"></i> 32
                    </span>
                </div>
                <div class="dicado-1">
                    <h6><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h6>
                    <span class="itac">
                        最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前<i class="dot_"></i><i class="far fa-comment"></i> 32
                    </span>
                </div>
                <div class="dicado-1">
                    <h6><a href="#">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h6>
                    <span class="itac">
                        最新回覆 : Paulo Ricardo<br /><i class="far fa-clock"></i> 3 天前<i class="dot_"></i><i class="far fa-comment"></i> 32
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- indica -->
<!-- last -->
<!-- last -->
<!-- vlog -->
<!-- vlog -->
<i class="line"> </i>
<!-- melhores -->
<div class="melhores">
    <div class="container">
        <li><i class="cup"> </i></li>
        <li>
            <h3>精選文章！</h3>
        </li>
        <li>
            <p>快來看看大家最想知道的事情！</p>
        </li>
        <div class="clearfix"></div>
    </div>
</div>
<!-- melhores -->
<!-- comopasser -->
<div class="comopasser">
    <div class="container">
        <div class="col-md-3 comopasser-top">
            <a href="single.html"><img src="images/15.jpg" class="img-responsive" alt=""></a>
            <a class="gos_btn gamsbtn" href="single.html">Games</a>
            <div class="comopasser-bottom">
                <h3><a href="single.html">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h3>
                <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>
                <div class="curtir">
                    <li>Paulo Ricardo</li>
                    <li><a class="cap" href="#"><i class="fas fa-comment-dots"></i>253</a></li>
                </div>
            </div>
        </div>
        <div class="col-md-3 comopasser-top">
            <a href="single.html"><img src="images/15.jpg" class="img-responsive" alt=""></a>
            <a class="gos_btn anasbtn" href="single.html">Games</a>
            <div class="comopasser-bottom">
                <h3><a href="single.html">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h3>
                <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>
                <div class="curtir">
                    <li>Paulo Ricardo</li>
                    <li><a class="cap" href="#"><i class="fas fa-comment-dots"></i>253</a></li>
                </div>
            </div>
        </div>
        <div class="col-md-3 comopasser-top">
            <a href="single.html"><img src="images/15.jpg" class="img-responsive" alt=""></a>
            <a class="gos_btn avisbtn" href="single.html">Games</a>
            <div class="comopasser-bottom">
                <h3><a href="single.html">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h3>
                <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>
                <div class="curtir">
                    <li>Paulo Ricardo</li>
                    <li><a class="cap" href="#"><i class="fas fa-comment-dots"></i>253</a></li>
                </div>
            </div>
        </div>
        <div class="col-md-3 comopasser-top">
            <a href="single.html"><img src="images/15.jpg" class="img-responsive" alt=""></a>
            <a class="gos_btn cinmsbtn" href="single.html">Games</a>
            <div class="comopasser-bottom">
                <h3><a href="single.html">Xbox Series X 主機將如期在年底上市 但部分遊戲可能延期</a></h3>
                <p>目前微軟確定將會在美國東岸時間5月7日上午11點展示以Xbox Series X硬體實際執行的遊戲畫面，預期也能確認屆時會有哪些遊戲作品登上Xbox Series X。</p>
                <div class="curtir">
                    <li>Paulo Ricardo</li>
                    <li><a class="cap" href="#"><i class="fas fa-comment-dots"></i>253</a></li>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- comopasser -->
