<!-- footer -->
<div class="footer">
    <div class="container">
        <p>本站所刊載之圖文內容等版權皆屬原作者所有，非經同意請勿轉載<br />Copyright &copy; 線上交流平台×討論版 All Rights Reserved.</p>
        <div class="clearfix"></div>
    </div>
</div>
<!-- footer -->